<div class="container-footer">
    <div class="container-reseaux">
      <h3>Suivez nous !</h3>
    </div>
    <div class="container-navigation">
      <h3>Navigation</h3>
      <ul>
        <li>Tissus</li>
        <li>Mobilier</li>
        <li>Accessoires</li>
        <li>Luminaires</li>
        <li>Nos boutiques</li>
        <li>Réalisations</li>
      </ul>
    </div>
    <div class="container-contact">
      <h3>Contactez nous</h3>
      <ul>
        <li>Les Autruches</li>
        <li>30 rue Boulard</li>
        <li>75014 Paris</li>
        <li>01 45 44 44 44</li>
        <li>lesautruches@gmail.com</li>
      </ul>
    </div>
    <div class="container-informations">
      <h3>Informations</h3>
      <ul>
        <li>Contact</li>
        <li>Mentions légales</li>
        <li>Admin</li>
      </ul>
    </div>
</div>
