
.border {
  height: 180px;
  border: 10px solid white;
  padding: 0;
  h1 {
    font-size: 22px;
    color: black;
    opacity: 1;
  }
}

.content-container {
  height: 170px;
  display: flex;
  justify-content: center;
  align-items:center;
  h1 {
    margin: 0,
  }
}


